@import "tailwindcss";

:root {
  --background: #FDFBF7;
  --foreground: #2A2A2A;

  --primary: #A83F39;
  --accent: #C45B55;

  --font-title: var(--font-playfair);
  --font-body: var(--font-manrope);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-title);
}

button {
  cursor: pointer;
}